

body {
color:black;
  background-color: lightgrey;
  font-family:helvetica;
}

a {
  color: white;
  font-family: arial;
  letter-spacing:5px;
  line-height: 20px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 3em;
  font-family: ;
}

#aboutmePhoto {
  text-align: center;
  margin: 0;
}

h2 {
  color:white;
  font-size: 30px;
  font-family: georgia;
}
