

body {
color:black;
  background-color: grey;
  font-family:helvetica;
}

a {
  color: white;
  font-family: arial;
}

h1 {
  color: black;
  text-align: center;
  font-size: 3em;
  font-family: ;
}
