@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald|Roboto');


body {
color:grey;
  background-color: lightgrey;
  font-family:Roboto;
  line-height: 1.5;
  font-size: 16px;
  width: 80%;
  margin: 0;
}

a {
  color:  #e81c4f;
  font-family: Oswald;
  letter-spacing:5px;
<<<<<<< Updated upstream
  line-height: 20px;
  font-size: 1.1em;
  text-decoration: none;
=======
  line-height: 7px;
  display: block;
  padding: 6px;
  background-color: #dddddd;
>>>>>>> Stashed changes
}

h1 {
  color: black;
  text-align: center;
  font-size: 3em;
<<<<<<< Updated upstream
  font-family:Oswald ;
=======
  font-family:georgia ;
  font-weight: bolder;
>>>>>>> Stashed changes
}

#aboutmePhoto {
  text-align: center;
  margin: 0;
}

h2 {
  color:white;
  font-size: 30px;
  font-family: Merriweather;
  text-align: center;
}
