@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald|Roboto');
@import url('https://fonts.googleapis.com/css?family=Molle:400i');

body {
line-height: 1.5;
  font-size:1em;
  font-weight: normal;
  font-family: Oswald;
  color: black;
  text-align: left;
  background-color: lightgrey;
  }
  h1 {
    font-size: 3em;
    color: black;
    text-align: center;
    border-radius: 2em;
    box-shadow: 10px 10px 5px #FFFFFF;
    font-family: Molle;
    border-style: dashed;
  }
h2 {
  font-family: Molle;
  font-size: 30px;
  color: white;
}
h3 {
  font-family:cooper std,sans-serif;
  font-size: 30px;
  color: black;
}
p {
font-family: Oswald;
  color: black;
  font-size: 19px;
}
ul {
  font-family: Merriweather;
  color: dodgerblue;
  font-size:18px;
}
ol {
font-family: Oswald;
  color: black;
  font-size:18px;
}

a {
  color: white;
font-family: Oswald;
border: 10px;
}
