
body {
line-height: 1.5;
  font-size:1em;
  font-weight: normal;
  font-family:cooper std, sans-serif;
  color: black;
  text-align: left;
  background-color: black;
  }
  h1 {
    font-size: 3em;
    font-weight: bold;
    color: hotpink;
    text-align: center;
    border: 3px solid #1e90ff;
    border-radius: 2em;
    box-shadow: 10px 10px 5px #FF69B4;
  }
h2 {
  font-family:cooper std,sans-serif;
  font-size: 30px;
  color:hotpink;
}
h3 {
  font-family:cooper std,sans-serif;
  font-size: 30px;
  color:hotpink;
}
p {
font-family:courier;
  color:dodgerblue;
}
ul {
  font-family:courier;
  color: dodgerblue;
  font-size:18px;
}
ol {
font-family: cooper std, sans-serif;
  color:hotpink;
  font-size:18px;
}

a {
  color: hotpink;
}
