/* Place this at the very top of your typographystyles.css document */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*** KERNING & LEADING ASSIGNMENT STYLES ***/

/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

.rectangle p {
  font-family: "Helvetica";
  font-size: 16px;
  color: dodgerblue;
}

#kerning {
  /* Use the letter-spacing property to change the kerning on the text to fill the div below

  http://www.w3schools.com/cssref/pr_text_letter-spacing.asp
  */

letter-spacing: 2.8px;
background-color: white;
color: dodgerblue;
  }


#leading {
  /* Use the line-height property to change the leading on the text to fill the div below

  http://www.w3schools.com/cssref/pr_dim_line-height.asp
  */

line-height: 280%;
background-color:white;
color: dodgerblue;

}

/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  /* Use the text-align property to left-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
 text-align: left;

}





#right_align {
  /* Use the text-align property to right-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: right;
}




#justify {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
    text-align: justify;
}

#center {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: center;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/

/* Do not change this style */
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.13em;
  margin: 2em 4em;
  max-width: 50%;
}


#target{
  font-size: 1.5em;
  line-height: 1;
}



/* Place these styles towards the bottom of your typographystyles.css document */

.weights {
  font-family: "Roboto";
  font-size: 32px;
}

#weight1 {
  /* Change the font-weight property to give it a thin-weight */
}

#weight2 {
  /* Change the font-weight property to give it a light-weight */
}

#weight3 {
  /* Change the font-weight property to give it a regular-weight */
}

#weight4 {
  /* Change the font-weight property to give it a bold-weight */
}

#weight5 {
  /* Change the font-weight property to give it a ultra-bold-weight */
}

#grandCanyon {
  background-image: url("../images/grand_canyon.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 800px;
  margin: 0 auto;
  font-size: 1em;
}
